* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

.container {
    position: relative;
    width: 675px;
    height: 540px;
    border-radius: 5px;
    box-shadow: -5px 7px 20px 4px rgba(0,0,0,0.62);
    background-color: rgb(153,107,88);
    background: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.animation {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.record-wrap {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.record,
.record-shadows {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.record-shadows{
    background: repeating-conic-gradient(
            transparent 0,
            rgba(255, 255, 255, 0.1),
            transparent 15% 180deg);
    z-index: 3;
    box-shadow: -5px 4px 10px rgb(0,0,0);
}

.record {
    background: repeating-radial-gradient(rgb(0,0,0), rgb(0,0,0) 3px, rgb(13,13,13) 6px);
    animation-fill-mode: forwards;
    animation: spin 5s linear 1s infinite;
    animation-play-state: paused;
    z-index: 2;
}

#button:checked ~ .record-wrap .record {
  animation-delay: 1s;
  animation-play-state: running;
}

.record-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(147, 165, 197);
    border: 10px solid rgb(0,0,0) ;
    box-shadow: -6px 7px 5px 0 rgba(0, 0, 0, 0.3);
}

.record-cover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  background: rgb(169, 169, 169);
  box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.5),
    inset -3px 2px 2px -2px rgb(255, 255, 255);
}

/*----------------tonearm------------------*/

.tonearm_wrapper {
  position: relative;
}

.tonearm_main {
  position: relative;
  display: block;
  width: 108px;
  height: 420px;
  top: 11px;
  right: 102px;
  transform: rotate(0deg);
  transform-origin: center 90px;
  z-index: 2;
  transition: transform 1s linear;
}

#button:checked ~ .tonearm .tonearm_main {
  transform: rotate(20deg);
}

.tonearm_stand {
  position: absolute;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px rgb(138, 138, 138), 0px 0px 3px 6px rgb(0, 0, 0),
    inset 0px 4px 4px rgb(242, 242, 242);
  top: 28px;
  right: 90px;
  background: conic-gradient(
      rgb(241, 241, 241) 0%,
      rgb(188, 188, 188) 20%,
      rgb(255, 255, 255) 30%,
      rgb(180, 180, 180) 40%,
      rgb(255, 255, 255) 50%,
      rgb(211, 211, 211) 60%,
      rgb(171, 176, 175) 70%,
      rgb(241, 241, 241) 80%,
      rgb(171, 176, 175) 91%,
      rgb(241, 241, 241) 100%
    )
    50% 50% / 100% 100% repeat;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 20%,
    rgb(219, 219, 219) 50%
  );
  z-index: 1;
}

.tonearm_stand::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(255, 255, 255) 29.69%,
    rgba(255, 255, 255, 0) 97.4%
  );
}

.tonearm_handler {
  position: absolute;
  width: 54px;
  height: 22px;
  top: 0;
  left: 27px;
  background: linear-gradient(
    270deg,
    rgb(167, 166, 167) 0%,
    rgb(227, 227, 226) 25%,
    rgb(248, 248, 248) 47.4%,
    rgb(219, 219, 218) 68.23%,
    rgb(128, 126, 128) 100%
  );
  box-shadow: -2px 0px 3px rgb(0, 0, 0);
  z-index: 5;
}

.tonearm_weight {
  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  z-index: 5;
  top: 50px;
  left: 18px;
  background: conic-gradient(
      rgb(241, 241, 241) 0%,
      rgb(188, 188, 188) 20%,
      rgb(255, 255, 255) 30%,
      rgb(180, 180, 180) 40%,
      rgb(255, 255, 255) 50%,
      rgb(211, 211, 211) 60%,
      rgb(171, 176, 175) 70%,
      rgb(241, 241, 241) 80%,
      rgb(171, 176, 175) 91%,
      rgb(241, 241, 241) 100%
    )
    50% 50% / 100% 100% repeat;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 20%,
    rgb(219, 219, 219) 50%
  );
  box-shadow: -2px 0px 2px rgb(0, 0, 0);
}

.tonearm_weight::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(255, 255, 255) 29.69%,
    rgba(255, 255, 255, 0) 97.4%
  );
}

.tonearm_hand {
  position: absolute;
  width: 17px;
  height: 290px;
  top: 22px;
  left: 46px;
  background: linear-gradient(
    270deg,
    rgb(167, 166, 167) 0%,
    rgb(227, 227, 226) 46.87%,
    rgb(167, 166, 167) 100%
  );
  z-index: 4;
  box-shadow: -2px -4px 2px rgb(0, 0, 0);
}

.tonearm_headshell_bend {
  position: absolute;
  width: 17px;
  height: 27px;
  bottom: 87px;
  left: 41px;
  background: linear-gradient(
    270deg,
    rgb(167, 166, 167) 0%,
    rgb(227, 227, 226) 46.87%,
    rgb(167, 166, 167) 100%
  );
  z-index: 3;
  transform: matrix(0.89, 0.45, -0.45, 0.89, 0, 0);
  box-shadow: -2px 0px 2px rgb(0, 0, 0);
}

.tonearm_headshell {
  position: absolute;
  width: 29px;
  height: 85px;
  bottom: 10px;
  left: 8px;
  background: linear-gradient(
    270deg,
    rgb(0, 0, 0) 0%,
    rgb(56, 56, 56) 17.19%,
    rgb(56, 56, 56) 42.71%,
    rgb(255, 255, 255) 46.87%,
    rgb(56, 56, 56) 51.04%,
    rgb(56, 56, 56) 83.33%,
    rgb(0, 0, 0) 100%
  );
  transform: matrix(0.87, 0.5, -0.49, 0.87, 0, 0);
  z-index: 4;
  box-shadow: -2px 2px 4px rgb(0, 0, 0);
}

/*---------------- end of tonearm------------------*/

#button {
  transform: scale(5);
  position: absolute;
  bottom: 86px;
  right: 84px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

#button:checked + div .triangle,
#button:checked + div .triangle::before,
#button:checked + div .triangle::after {
  background-color: rgb(237, 111, 3);
  box-shadow: 0px 0px 3px rgb(255, 133, 0);
}

#button-image {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

#button-image label {
  display: block;
  box-shadow: 0px 0px 0px 1px rgb(138, 138, 138), 0px 0px 3px 6px rgb(0, 0, 0),
    inset 0px 1px 4px rgb(242, 242, 242);
  padding: 3px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  background: conic-gradient(
        rgb(216, 216, 216),
        rgb(195, 195, 195),
        rgb(204, 204, 204),
        rgb(198, 198, 198),
        rgb(211, 211, 211),
        rgb(216, 216, 216),
        rgb(213, 213, 213),
        rgb(216, 216, 216),
        rgb(211, 211, 211),
        rgb(197, 197, 197),
        rgb(192, 192, 192),
        rgb(191, 191, 191),
        rgb(208, 208, 208),
        rgb(217, 217, 217),
        rgb(209, 209, 209),
        rgb(197, 197, 197),
        rgb(200, 200, 200),
        rgb(216, 216, 216),
        rgb(213, 213, 213),
        rgb(205, 205, 205),
        rgb(196, 196, 196),
        rgb(217, 217, 217),
        rgb(206, 206, 206),
        rgb(197, 197, 197),
        rgb(197, 197, 197),
        rgb(205, 205, 205),
        rgb(216, 216, 216),
        rgb(217, 217, 217),
        rgb(216, 216, 216)
      )
      content-box,
    linear-gradient(rgb(179, 176, 176), rgb(126, 122, 122));
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 20%,
    rgb(219, 219, 219) 50%
  );
}

.triangle {
  position: absolute;
  width: 4px;
  height: 27px;
  background-color: rgb(50, 50, 86);
  border-radius: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-10px, -50%);
}

.triangle::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 28px;
  background-color: rgb(50, 50, 86);
  transform: rotate(62deg);
  left: 11px;
  top: 6px;
  border-radius: 6px;
}

.triangle::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 28px;
  background-color: rgb(50, 50, 86);
  transform: rotate(-62deg);
  left: 11px;
  top: -6px;
  border-radius: 6px;
}
