*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

.container {
    position: relative;
    width: 675px;
    height: 540px;
    border-radius: 5px;
    box-shadow: -5px 7px 20px 4px rgba(0,0,0,0.62);
    background: url('../img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.animation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.record-wrap{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
}

.record,
.record-shadows{
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.record-shadows{
    background: repeating-conic-gradient(
            transparent 0,
            rgba(255, 255, 255, 0.1),
            transparent 15% 180deg);
    z-index: 2;
}

.record {
    background: repeating-radial-gradient(
            rgb(0, 0, 0),
            rgb(42, 41, 40) 6px,
            rgb(43, 42, 42) 5px);
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation: spin 5s linear 1s infinite;
    animation-play-state: paused;

}

#button:checked ~ .record-wrap .record {
    animation-delay: 1s;
    animation-play-state: running;
}

.record-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgb(0,0,0) ;
    box-shadow: -6px 7px 5px 0 rgba(0, 0, 0, 0.3);
}

.record-cover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 15%;
    height: 15%;
    border-radius: 50%;
    background: darkgrey;
    box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.5),
                inset -3px 2px 2px -2px rgb(255, 255, 255);
}

/*----------------tonearm------------------*/

.tonearm_wrapper {
    position: relative;
}

.tonearm_main {
    position: relative;
    display: block;
    width: 108px;
    height: 420px;
    top: 11px;
    right: 102px;
    transform: rotate(0deg);
    transform-origin: center 90px;
    z-index: 2;
    transition: transform 1s linear;
}

#button:checked~.tonearm .tonearm_main{
    transform: rotate(20deg);
}

.tonearm_stand {
    position: absolute;
    width: 155px;
    height: 155px;
    border-radius: 50%;
     box-shadow: 0px 0px 0px 3px #8A8A8A, 0px 0px 3px 6px #000000, inset 0px 4px 4px #F2F2F2;
    top: 28px;
    right: 90px;
    background: conic-gradient(#F1F1F1 0%, #BCBCBC 20%, #FFFFFF 30%, #B4B4B4 40%, #FFFFFF 50%, #D3D3D3 60%, #ABB0AF 70%, #F1F1F1 80%, #ABB0AF 91%, #F1F1F1 100%) 50% 50% / 100% 100% repeat;
    z-index: 1;
}

.tonearm_stand::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 29.69%, rgba(255, 255, 255, 0) 97.4%);
}

.tonearm_handler {
    position: absolute;
    width: 54px;
    height: 22px;
    top: 0;
    left: 27px;
    background: linear-gradient(270deg, #A7A6A7 0%, #E3E3E2 25%, #F8F8F8 47.4%, #DBDBDA 68.23%, #807E80 100%);
    box-shadow: -2px 0px 3px #000000;
    z-index: 5;
}

.tonearm_weight {
    position: absolute;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    z-index: 5;
    top: 50px;
    left: 18px;
    background: conic-gradient(#F1F1F1 0%, #BCBCBC 20%, #FFFFFF 30%, #B4B4B4 40%, #FFFFFF 50%, #D3D3D3 60%, #ABB0AF 70%, #F1F1F1 80%, #ABB0AF 91%, #F1F1F1 100%) 50% 50% / 100% 100% repeat;
    box-shadow: -2px 0px 2px #000000;
}

.tonearm_weight::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 29.69%, rgba(255, 255, 255, 0) 97.4%);
}

.tonearm_hand {
    position: absolute;
    width: 17px;
    height: 290px;
    top: 22px;
    left: 46px;
    background: linear-gradient(270deg, #A7A6A7 0%, #E3E3E2 46.87%, #A7A6A7 100%);
    z-index: 4;
    box-shadow: -2px -4px 2px #000000;
}

.tonearm_headshell_bend {
    position: absolute;
    width: 17px;
    height: 27px;
    bottom: 87px;
    left: 41px;
    background: linear-gradient(270deg, #A7A6A7 0%, #E3E3E2 46.87%, #A7A6A7 100%);
    z-index: 3;
    transform: matrix(0.89, 0.45, -0.45, 0.89, 0, 0);
    box-shadow: -2px 0px 2px #000000;
}

.tonearm_headshell {
    position: absolute;
    width: 29px;
    height: 85px;
    bottom: 10px;
    left: 8px;
    background: linear-gradient(270deg, #000000 0%, #383838 17.19%, #383838 42.71%, #FFFFFF 46.87%, #383838 51.04%, #383838 83.33%, #000000 100%);
    transform: matrix(0.87, 0.5, -0.49, 0.87, 0, 0);
    z-index: 4;
    box-shadow: -2px 2px 4px #000000;
}

/*---------------- end of tonearm------------------*/

#button {
    transform: scale(5);
    position: absolute;
    bottom: 86px;
    right: 84px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

#button:checked + div .triangle,
#button:checked + div .triangle::before,
#button:checked + div .triangle::after {
    background-color: rgb(237, 111, 3);
}

#button-image {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

#button-image label {
    display: block;
    border: solid 3px black;
    padding: 3px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    background:
        conic-gradient(#d8d8d8, #c3c3c3, #cccccc, #c6c6c6,
            #d3d3d3, #d8d8d8, #d5d5d5, #d8d8d8,
            #d3d3d3, #c5c5c5, #c0c0c0, #bfbfbf,
            #d0d0d0, #d9d9d9, #d1d1d1, #c5c5c5,
            #c8c8c8, #d8d8d8, #d5d5d5, #cdcdcd,
            #c4c4c4, #d9d9d9, #cecece, #c5c5c5,
            #c5c5c5, #cdcdcd, #d8d8d8, #d9d9d9,
            #d8d8d8) content-box,
        linear-gradient(#b3b0b0, #7e7a7a);
}

.triangle {
    position: absolute;
    width: 4px;
    height: 27px;
    background-color: rgb(50, 50, 86);
    border-radius: 6px;

    top: 23px;
    left: 26px;
}

.triangle::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 28px;
    background-color: rgb(50, 50, 86);
    transform: rotate(62deg);
    left: 11px;
    top: 6px;
    border-radius: 6px;

}

.triangle::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 28px;
    background-color: rgb(50, 50, 86);
    transform: rotate(-62deg);
    left: 11px;
    top: -6px;
    border-radius: 6px;
}


